<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <h5>Login</h5><br/>
            <hr />
            <h5 class="text-center"><img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png"
                    height="50px" /></h5><br/>
            <form [formGroup]="form" class="form-group" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label><b style="color: green">Username:</b></label>
                    <input type="text" formControlName="uname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.uname.errors }">
                    <div *ngIf="submitted && f.uname.errors" class="invalid-feedback">
                        <div *ngIf="f.uname.errors.required">User Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label><b style="color: green">Password:</b></label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Login</button>&nbsp;
                    <button type="button" class="btn btn-success" [routerLink]="['/reg']">Register</button>
                </div>
            </form><br>
            <b *ngIf="val" style="color: red">Your Username or Password is invalid</b>
        </div>
    </div>

</div>